In [1]:
import pandas as pd

## Q1: Create a Series with indexes = 1, 2, 3 and has three names.

In [2]:
Data = {1 : "Abdullah", 2 : "Khaled", 3 : "Ahmed"}
s = pd.Series(Data)
s

1    Abdullah
2      Khaled
3       Ahmed
dtype: object

## Q2: Change indexes to 11, 12, 13.

In [3]:
s.index = [11, 12, 13]
s

11    Abdullah
12      Khaled
13       Ahmed
dtype: object

## Q3: Retrieve First and second elements.

In [4]:
# 1
print(s.head(2))

print("==============")

# 2
print(s[0:2])

11    Abdullah
12      Khaled
dtype: object
==============
11    Abdullah
12      Khaled
dtype: object

## Q4: Add duplicate elements, then remove the duplication.

In [9]:
s2 = pd.Series({14: "Khaled"})
s = s.append(s2)
print(s)

s.drop_duplicates()

11    Abdullah
12      Khaled
13       Ahmed
14      Khaled
dtype: object

/var/folders/29/_6r3_8097zl6_kzh2jkv2lv40000gn/T/ipykernel_19397/1859171998.py:2: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s = s.append(s2)

11    Abdullah
12      Khaled
13       Ahmed
dtype: object

## Q5: Create a Students DataFrame has three columns (ID, Name, GPA).

In [6]:
 D = {
     "ID" : [1, 2, 3],
     "Name" : ['Abdullah', 'Khaled', 'Ahmed'],
     "GPA" : ['A', 'B', 'C']
 }

Da = pd.DataFrame(D, columns=["ID", "Name", "GPA"])
Da

   ID      Name GPA
0   1  Abdullah   A
1   2    Khaled   B
2   3     Ahmed   C

## Q6: Read educ_figdp_1_Data.csv file and print the head.

In [7]:
edu = pd.read_csv('educ_figdp_1_Data.csv')
edu.head()

,TIME,GEO,INDIC_ED,Value,Flag and Footnotes
0,2000,European Union (28 countries),Total public expenditure on education as % of ...,:,NaN
1,2001,European Union (28 countries),Total public expenditure on education as % of ...,:,NaN
2,2002,European Union (28 countries),Total public expenditure on education as % of ...,5.00,e
3,2003,European Union (28 countries),Total public expenditure on education as % of ...,5.03,e
4,2004,European Union (28 countries),Total public expenditure on education as % of ...,4.95,e

## Q7: Give an example shows the difference between loc and slicing?
**Note:**
- loc use the index labels as references.
- slice use the position as references.

In [28]:
# loc will include the end of the range, lets say I want records from 40 to 45
print("Using loc:")
print(edu.loc[40:45, ['TIME']])
# as we can see, it will include 45
print("===========================================")
# slicing will be normal as the python slicing, meaning that it will exclude the end range
print("Using slice:")
print(edu.iloc[40:45, [0]])
# as we can see, 45 is excluded

Using loc:
    TIME
40  2004
41  2005
42  2006
43  2007
44  2008
45  2009
===========================================
Using slice:
    TIME
40  2004
41  2005
42  2006
43  2007
44  2008